# Ignorar archivos de compilación y binarios en cualquier carpeta de proyectos
**/obj/
**/[Bb]uild/
**/[Ll]og/
**/artifacts/

# Archivos de configuración de Visual Studio en cualquier subcarpeta
**/.vs/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates

# Archivos y paquetes de NuGet
**/*.nupkg
**/*.snupkg
**/.nuget/
**/packages/
**/project.lock.json
**/project.fragment.lock.json

# Archivos generados por la compilación
**/*.dll
**/*.exe
**/*.pdb
**/*.cache
**/*.ilk
**/*.log
**/*.lib
**/*.exp

# Configuración de Rider y archivos de usuario
**/.idea/
**/*.sln.iml

# Archivos temporales y de entorno
**/*.swp
**/*.tmp
**/*.temp
**/~.ncrunch*
**/NCrunchTemp_*
**/publish/
**/*.csproj.user
**/*.userprefs
**/*.userfiles
**/*.log
**/*.tlog

# Ignorar configuraciones de IDE y entornos de desarrollo
**/.vscode/
**/*.sln.docstates

# Dependencias y archivos de desarrollo web
**/node_modules/
**/dist/
npm-debug.log*
yarn-error.log*

# Archivos de configuración de entorno
**/.env
**/.env.local
**/.env.*.local