USE [master]
GO

IF DB_ID('grupo21DB') IS NOT NULL
BEGIN
    -- Eliminar conexiones activas a la base de datos
    ALTER DATABASE [grupo21DB] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;

    -- Eliminar la base de datos
    DROP DATABASE [grupo21DB];
END
GO
/****** Object:  Database [grupo21DB]    Script Date: 12/12/2024 15:59:31 ******/
CREATE DATABASE [grupo21DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'grupo21DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\grupo21DB.mdf' , SIZE = 7168KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'grupo21DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\grupo21DB_log.ldf' , SIZE = 6272KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [grupo21DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [grupo21DB]
GO
/****** Object:  Table [dbo].[Atributo]    Script Date: 12/12/2024 15:59:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atributo](
	[Nombre] [nvarchar](250) NOT NULL,
	[Tipo] [nvarchar](50) NULL,
	[Cuenta] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Atributo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AtributoProducto]    Script Date: 12/12/2024 15:59:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AtributoProducto](
	[ContenidoTexto] [nvarchar](250) NULL,
	[ContenidoBinario] [varbinary](max) NULL,
	[ContenidoEntero] [int] NULL,
	[Atributo] [int] NOT NULL,
	[Producto] [int] NOT NULL,
	[ContenidoReal] [float] NULL,
	[ContenidoBoolean] [bit] NULL,
 CONSTRAINT [PK_AtributoProducto] PRIMARY KEY CLUSTERED 
(
	[Atributo] ASC,
	[Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CategoriaP]    Script Date: 12/12/2024 15:59:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaP](
	[Nombre] [nvarchar](250) NOT NULL,
	[Cuenta] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CategoriaP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CategoriaProducto]    Script Date: 12/12/2024 15:59:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaProducto](
	[Producto] [int] NOT NULL,
	[Categoria] [int] NOT NULL,
 CONSTRAINT [PK_CategoriaProducto] PRIMARY KEY CLUSTERED 
(
	[Producto] ASC,
	[Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cuenta]    Script Date: 12/12/2024 15:59:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cuenta](
	[Nombre] [nvarchar](50) NOT NULL,
	[Logo] [varbinary](max) NULL,
	[FechaCreacion] [date] NOT NULL,
	[FechaModificacion] [date] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Cuenta] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Cuenta_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 12/12/2024 15:59:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[SKU] [nvarchar](12) NOT NULL,
	[GTIN] [nvarchar](14) NOT NULL,
	[FechaCreacion] [date] NOT NULL,
	[FechaModificacion] [date] NULL,
	[Label] [nvarchar](250) NULL,
	[Thumbnail] [varbinary](max) NULL,
	[Cuenta] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Producto_SKU] UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Relaciones]    Script Date: 12/12/2024 15:59:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Relaciones](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[CuentaID] [int] NOT NULL,
 CONSTRAINT [PK_Relaciones] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Relaciones_Productos]    Script Date: 12/12/2024 15:59:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relaciones_Productos](
	[RelacionID] [int] NOT NULL,
	[ProductoOrigenID] [int] NOT NULL,
	[ProductoDestinoID] [int] NOT NULL,
 CONSTRAINT [PK_Relaciones_Productos] PRIMARY KEY CLUSTERED 
(
	[RelacionID] ASC,
	[ProductoOrigenID] ASC,
	[ProductoDestinoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_Atributo_Cuenta]    Script Date: 12/12/2024 15:59:31 ******/
CREATE NONCLUSTERED INDEX [IX_Atributo_Cuenta] ON [dbo].[Atributo]
(
	[Cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Atributo]  WITH CHECK ADD  CONSTRAINT [FK_Atributo_Cuenta] FOREIGN KEY([Cuenta])
REFERENCES [dbo].[Cuenta] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Atributo] CHECK CONSTRAINT [FK_Atributo_Cuenta]
GO
ALTER TABLE [dbo].[AtributoProducto]  WITH CHECK ADD  CONSTRAINT [FK_AtributoProducto_Atributo] FOREIGN KEY([Atributo])
REFERENCES [dbo].[Atributo] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AtributoProducto] CHECK CONSTRAINT [FK_AtributoProducto_Atributo]
GO
ALTER TABLE [dbo].[AtributoProducto]  WITH CHECK ADD  CONSTRAINT [FK_AtributoProducto_Producto] FOREIGN KEY([Producto])
REFERENCES [dbo].[Producto] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AtributoProducto] CHECK CONSTRAINT [FK_AtributoProducto_Producto]
GO
ALTER TABLE [dbo].[CategoriaP]  WITH CHECK ADD  CONSTRAINT [FK_CategoriaP_Cuenta] FOREIGN KEY([Cuenta])
REFERENCES [dbo].[Cuenta] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoriaP] CHECK CONSTRAINT [FK_CategoriaP_Cuenta]
GO
ALTER TABLE [dbo].[CategoriaProducto]  WITH CHECK ADD  CONSTRAINT [FK_CategoriaProducto_Categoria] FOREIGN KEY([Categoria])
REFERENCES [dbo].[CategoriaP] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoriaProducto] CHECK CONSTRAINT [FK_CategoriaProducto_Categoria]
GO
ALTER TABLE [dbo].[CategoriaProducto]  WITH CHECK ADD  CONSTRAINT [FK_CategoriaProducto_Producto] FOREIGN KEY([Producto])
REFERENCES [dbo].[Producto] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoriaProducto] CHECK CONSTRAINT [FK_CategoriaProducto_Producto]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Cuenta] FOREIGN KEY([Cuenta])
REFERENCES [dbo].[Cuenta] ([ID])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Cuenta]
GO
ALTER TABLE [dbo].[Relaciones]  WITH CHECK ADD  CONSTRAINT [FK_Relaciones_Cuenta] FOREIGN KEY([CuentaID])
REFERENCES [dbo].[Cuenta] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Relaciones] CHECK CONSTRAINT [FK_Relaciones_Cuenta]
GO
ALTER TABLE [dbo].[Relaciones_Productos]  WITH CHECK ADD  CONSTRAINT [FK_Relaciones_Productos_ProductoDestino] FOREIGN KEY([ProductoDestinoID])
REFERENCES [dbo].[Producto] ([ID])
GO
ALTER TABLE [dbo].[Relaciones_Productos] CHECK CONSTRAINT [FK_Relaciones_Productos_ProductoDestino]
GO
ALTER TABLE [dbo].[Relaciones_Productos]  WITH CHECK ADD  CONSTRAINT [FK_Relaciones_Productos_ProductoOrigen] FOREIGN KEY([ProductoOrigenID])
REFERENCES [dbo].[Producto] ([ID])
GO
ALTER TABLE [dbo].[Relaciones_Productos] CHECK CONSTRAINT [FK_Relaciones_Productos_ProductoOrigen]
GO
ALTER TABLE [dbo].[Relaciones_Productos]  WITH CHECK ADD  CONSTRAINT [FK_Relaciones_Productos_Relaciones] FOREIGN KEY([RelacionID])
REFERENCES [dbo].[Relaciones] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Relaciones_Productos] CHECK CONSTRAINT [FK_Relaciones_Productos_Relaciones]
GO
ALTER TABLE [dbo].[Relaciones_Productos]  WITH CHECK ADD  CONSTRAINT [chk_no_self_relationship] CHECK  (([ProductoOrigenID]<>[ProductoDestinoID]))
GO
ALTER TABLE [dbo].[Relaciones_Productos] CHECK CONSTRAINT [chk_no_self_relationship]
GO
CREATE TRIGGER [dbo].[trg_DeleteProducto]
ON [dbo].[Producto]
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- Eliminar las relaciones asociadas al producto que se intenta borrar
    DELETE FROM Relaciones_Productos
    WHERE ProductoOrigenID IN (SELECT ID FROM DELETED)
       OR ProductoDestinoID IN (SELECT ID FROM DELETED);

    -- Eliminar el producto
    DELETE FROM Producto
    WHERE ID IN (SELECT ID FROM DELETED);

    PRINT 'Trigger ejecutado: Relaciones eliminadas y Producto borrado';
END
GO
CREATE TRIGGER [dbo].[trg_DeleteCuenta]
ON [dbo].[Cuenta]
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- Borrar todos los productos asociados a las cuentas eliminadas
    DELETE FROM Producto
    WHERE Cuenta IN (SELECT ID FROM DELETED);

    -- Ahora eliminar las cuentas
    DELETE FROM Cuenta
    WHERE ID IN (SELECT ID FROM DELETED);

    PRINT 'Trigger ejecutado: Productos y cuentas eliminados';
END
GO
INSERT INTO dbo.Cuenta (Nombre, FechaCreacion, FechaModificacion)
VALUES
    ('Tienda1', '2024-12-20', '2024-12-21'),
    ('Tienda2', '2024-12-15', '2024-12-16'),
    ('Tienda3', '2024-11-15', '2024-11-16');
GO
USE [master]
GO
